body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #f3f5fc;
    
    font-family: 'Inter';
}

/*----------- DESKTOP  -----------*/

/*----------- LOGO  -----------*/
.logo{
    position: absolute ;
    top: 2%;
    bottom: 2%;
    width: 10%;
    height: 95%;
    /* border: 2px solid red; */
}

.logo img{
    margin: 20% auto 0 auto;
    width: 99%;
}
/*----------- LOGO  -----------*/


/*----------- ENTRADA -----------*/
.entrada{
    position: absolute;
    top: 2%;
    bottom: 2%;
    left: 10%;

    width: 60%;
    height: 95%;

    /* border: 2px solid green; */
}


.entrada-texto{
    display: block;
    margin: 8% auto;
    width: 85%;
    height: 60%;
    
    resize: none;
    border: none;
    outline: none;

    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    font-size: 32px;
    
    color: #0A3871;
    background-color:#f3f5fc;
    /* border: 2px solid crimson; */
}

.aviso{
    /* position: absolute; */
    /* top: 83%;
    left: 5%; */

    height: 5%;
    width: 85%;
    margin: 11% auto;

    display: flex;
    align-items: center;
    gap: 5px;

    /* border: 2px solid blueviolet; */
}

.aviso p{
    font-size: 12px;
    font-weight: bold;
}
.aviso img{
    width: 2%;
}

.botones{
    position: absolute;
    top:88%;
    left: 7%;
    right: auto;

    height: 10%;
    width: 86%;
    /* margin: 0 auto; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid crimson; */
}

.botones > button{
    width: 48%;
    height: 70%;
}
/*----------- ENTRADA -----------*/


/*----------- SALIDA -----------*/

.salida {
    position: absolute ;
    top: 2%;
    bottom: 2%;
    left: 71%;

    width: 25%;
    height: 95%;

    background: white;
    border-radius: 20px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.2);
    /* border: 2px solid blue; */
}

.resultado{
    height: 80%;
    display: flex;
    display: none;
    border: 2px pink solid;
}

.resultado > textarea{
    width: 90%;
    margin: 5% auto;
    resize: none;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: left;

}

.mensaje{
    height: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 40%;
    /* display: none; */
    /* border: 2px palevioletred solid; */
}

.mensaje img{
    width: 65%;
}

.mensaje h2, p{
    text-align: center;
}

.mensaje h2{
    font-size: 24px;
}
.mensaje p{
    font-size: 16px;
}
.btn-copiar{
    position: absolute;
    top:88%;
    width: 99%;

    height: 10%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px magenta solid; */
}

.btn-copiar > button{  
    height: 70%;
    width: 90%;

}
/*----------- SALIDA -----------*/

button {
    border: 1px solid #0A3871;
    border-radius: 14px;
    transition: 400ms;

}
button:hover{
    cursor: pointer;
    background-color: #0A3871;
    color: #FFFFFF;
}


/*-------------------------------------------- TABLET -------------------------------------------- */
@media screen and (max-width: 821px){

    /*----------- LOGO -----------*/
    .logo{
        /* border: 2px red solid; */
        position: absolute;
        top: 2%;
        left: 5%;
        right: 5%;
        width: 90%;
        height: 10%;
    }
    .logo > img{
        margin-top: 5%;
        margin-left: -7%;
        /* border: 2px lightseagreen solid; */
        width: 20%;
    }


    /*----------- ENTRADA -----------*/
    .entrada{
        /* border: 2px green solid; */
        position: absolute;
        top: 15%;
        left: 5%;
        right: 5%;
        width: 90%;
        height: 60%;
    }

    .entrada-texto{
        /* border: #0A3871 2px solid; */
        position: static;
        height: 80%;
        width: 99%;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        font-size: 22px;
    }
    .aviso{
        position: static;
        width: 99%;
        /* border: #0A3871 2px solid; */
        margin: 0;
        margin-left: auto;
        margin-right: auto;

    }
    .botones{
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        position: static;
        width: 99%;
        height: 12%;
        /* border: #0A3871 2px solid; */
    }
    .botones > button{
        width: 48%;
    }
    /*----------- SALIDA -----------*/
    .salida{
        position: absolute;
        top: 80%;
        left: 5%;
        right: 5%;
        width: 90%;
        height: 15%;
    }

    .resultado{
        display: block;
        height: 80%;
        border: 2px blue solid;
        display: none;
    }

    .resultado > textarea{
        border: 2px blue solid;
        margin: 0 5%;
        height: 90%;
        font-size: 20px;
    }

    .mensaje > img{
        display: none;
    }

    .mensaje{
        /* border: 2px blue solid; */
        position: static;
        margin: 1% 0;
        width: 99%;
        height: 90%;
        /* display: none; */
    }
    
    .mensaje > h2{
        font-size: 18px;
    }
    .mensaje > p{
        font-size: 14px;
    }


    .btn-copiar{
        position: static;
        margin: 2% auto;
        width: 90%;
        height: 70px;
        display: none;
    }


    /*----------- SALIDA -----------*/
}
/*-------------------------------------------- TABLET -------------------------------------------- */


/* ----------- MOVIL ----------- */
@media screen and (max-width: 721px) {
    .logo{
        left: 7.5%;
        width: 85%;
        height:8%;
        /* border: 2px solid lightseagreen; */
    }

    .entrada{
        /* border: 2px solid coral; */
        top: 14%;
        left: 7.5%;
        width: 85%;
        height: 55%;
    }

    .entrada-texto{
        
        /* border: 2px solid greenyellow; */
        width: 95%;
        height: 60%;
    }
    .aviso{
        /* border: 2px solid lightseagreen;  */
        margin-top: 10%;
    }
    .botones{
        /* border: 2px solid coral; */
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12%;
    }
    .botones > button{
        width: 100%;
        height: 40%;
    }

    .salida{
        left: 10%;
        top: 74%;
        width: 80%;
        height: 20%;
    }

    .resultado{
        display: none;
        width: 85%;
        width: 95%;
    }

    .mensaje{
        /* display: none; */
    }

    .btn-copiar{
        display: flex;
        width: 80%;
        height: 16%;
        display: none;
    }
}